[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
django-money = "*"
django-heroku = "*"
whitenoise = "*"
gunicorn = "*"
"psycopg2" = "*"
reportlab = "*"
"pypdf2" = "*"


[dev-packages]



[requires]

python_version = "3.6"
